/* color code */
/* line 6, ../scss/addons.scss */
.detail-sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 9, ../scss/addons.scss */
.detail-sidebar .adv-sidebar {
  margin-bottom: 20px;
}
/* line 13, ../scss/addons.scss */
.detail-sidebar .right-side {
  margin-left: 26px;
}

/* line 18, ../scss/addons.scss */
.right-side {
  width: 310px;
}
/* line 21, ../scss/addons.scss */
.right-side > div {
  width: 310px;
}
/* line 25, ../scss/addons.scss */
.right-side .title-sidebar {
  background: #4e4e50;
  display: block;
  height: 50px;
}
/* line 30, ../scss/addons.scss */
.right-side .title-sidebar h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  line-height: 50px;
  margin: 0;
  padding: 0 16px;
  text-transform: uppercase;
}
/* line 44, ../scss/addons.scss */
.right-side .follow-us-container .title-follow-us {
  border-bottom: 1px solid #dadade;
  color: #333437;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 8px;
  text-transform: uppercase;
}
/* line 54, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 58, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed li {
  float: left;
  height: 53px;
  margin-left: 6px;
  width: 53px;
}
/* line 64, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed li:first-child {
  margin-left: 0;
}
/* line 68, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed li.question {
  font-size: 14px;
  width: 74px;
}
/* line 73, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed li a {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  background: #69696c;
  color: #fff;
  height: 53px;
  text-align: center;
  text-decoration: none;
}
/* line 84, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed li a:hover {
  background: #333437;
}
/* line 88, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed .facebook,
.right-side .follow-us-container .navi-sosmed .instagram {
  font-size: 18px;
}
/* line 90, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed .twitter,
.right-side .follow-us-container .navi-sosmed .youtube {
  font-size: 20px;
}
/* line 93, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed .facebook a {
  background: #3468af;
}
/* line 96, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed .facebook a:hover {
  background: #1a4e95;
}
/* line 98, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed .twitter a {
  background: #4ec0f0;
}
/* line 101, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed .twitter a:hover {
  background: #35aadc;
}
/* line 103, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed .instagram a {
  background: #157097;
}
/* line 106, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed .instagram a:hover {
  background: #0a5b7d;
}
/* line 108, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed .youtube a {
  background: #d63d24;
}
/* line 111, ../scss/addons.scss */
.right-side .follow-us-container .navi-sosmed .youtube a:hover {
  background: #ae1800;
}
/* line 117, ../scss/addons.scss */
.right-side .winning-issues .title-sidebar h3,
.right-side .winning-issues .number-issues {
  background: #2ea1f2;
}
/* line 124, ../scss/addons.scss */
.right-side .trending-rightnow .title-sidebar h3,
.right-side .trending-rightnow .number-issues {
  background: #f53400;
}
/* line 131, ../scss/addons.scss */
.right-side .top-images .title-sidebar h3,
.right-side .top-images .number-issues {
  background: #8f38d2;
}
/* line 138, ../scss/addons.scss */
.right-side .top-quiz .title-sidebar h3,
.right-side .top-quiz .number-issues {
  background: #05c900;
}
/* line 145, ../scss/addons.scss */
.right-side .top-games .title-sidebar h3,
.right-side .top-games .number-issues {
  background: #ffa200;
}
/* line 152, ../scss/addons.scss */
.right-side .top-polling .title-sidebar h3,
.right-side .top-polling .number-issues {
  background: #ff5b2f;
}
/* line 159, ../scss/addons.scss */
.right-side .other-videos .title-sidebar h3,
.right-side .other-videos .number-issues {
  background: #f636dd;
}
/* line 166, ../scss/addons.scss */
.right-side .read-this .title-sidebar {
  background: #aaaab5;
  height: 40px;
}
/* line 171, ../scss/addons.scss */
.right-side .read-this .title-sidebar h3 {
  background: transparent;
  line-height: 40px;
}

/* line 181, ../scss/addons.scss */
.detail-gallery .right-side,
.detail-gallery .right-side > div,
.detail-meme .right-side,
.detail-meme .right-side > div {
  width: 390px;
}
/* line 187, ../scss/addons.scss */
.detail-gallery .right-side > div,
.detail-meme .right-side > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 40px;
}
/* line 191, ../scss/addons.scss */
.detail-gallery .right-side > div:first-child,
.detail-meme .right-side > div:first-child {
  margin-top: 10px;
}

/* line 197, ../scss/addons.scss */
.addon-wrap {
  margin-bottom: 20px;
}
/* line 200, ../scss/addons.scss */
.addon-wrap .title-sidebar {
  margin-bottom: 15px;
}
/* line 204, ../scss/addons.scss */
.addon-wrap .addon-content {
  overflow: hidden;
  *zoom: 1;
}
/* line 208, ../scss/addons.scss */
.addon-wrap .package-info-issues {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  float: left;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
  width: 50%;
}
/* line 219, ../scss/addons.scss */
.addon-wrap .package-info-issues .left-package-issues .package-left,
.addon-wrap .package-info-issues .left-package-issues .issues-img {
  height: 100px;
}
/* line 224, ../scss/addons.scss */
.addon-wrap .package-info-issues .left-package-issues .package-left {
  overflow: hidden;
  position: relative;
}
/* line 229, ../scss/addons.scss */
.addon-wrap .package-info-issues .left-package-issues .issues-img {
  position: relative;
}
/* line 232, ../scss/addons.scss */
.addon-wrap .package-info-issues .left-package-issues .issues-img > img {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  left: 50%;
  min-height: 100px;
  min-width: 130px;
  position: relative;
  top: 50%;
  max-width: 100%;
}
/* line 244, ../scss/addons.scss */
.addon-wrap .package-info-issues .left-package-issues .number-issues {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
/* line 251, ../scss/addons.scss */
.addon-wrap .package-info-issues .left-package-issues .number-issues p {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}
/* line 264, ../scss/addons.scss */
.addon-wrap .package-info-issues .right-package-issues h1 {
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: #333437;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 5px;
  overflow: hidden;
}
/* line 273, ../scss/addons.scss */
.addon-wrap .package-info-issues .right-package-issues .post-author {
  color: #9c9eac;
  font-size: 10px;
}
/* line 277, ../scss/addons.scss */
.addon-wrap .package-info-issues .right-package-issues .post-author a {
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: #9c9eac;
  position: relative;
  z-index: 2;
}
/* line 283, ../scss/addons.scss */
.addon-wrap .package-info-issues .right-package-issues .post-author a:hover {
  color: #4773ff;
}
/* line 291, ../scss/addons.scss */
.addon-wrap .package-info-issues:hover .right-package-issues h1 {
  color: #4773ff;
}
/* line 295, ../scss/addons.scss */
.addon-wrap .package-footer-issues {
  border-color: #dadade;
  border-style: solid;
  border-width: 1px 0;
}
/* line 300, ../scss/addons.scss */
.addon-wrap .package-footer-issues a {
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background: #eaeaea;
  color: #333437;
  display: block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}
/* line 310, ../scss/addons.scss */
.addon-wrap .package-footer-issues a:hover {
  background: #dadade;
}
/* line 316, ../scss/addons.scss */
.addon-wrap.top-images .addon-content, .addon-wrap.top-quiz .addon-content, .addon-wrap.top-games .addon-content, .addon-wrap.top-polling .addon-content, .addon-wrap.trending-rightnow .addon-content {
  padding: 0 10px;
}
/* line 323, ../scss/addons.scss */
.addon-wrap.top-images .addon-content .left-package-issues, .addon-wrap.top-quiz .addon-content .left-package-issues, .addon-wrap.top-games .addon-content .left-package-issues, .addon-wrap.top-polling .addon-content .left-package-issues, .addon-wrap.trending-rightnow .addon-content .left-package-issues {
  margin-bottom: 10px;
}
/* line 330, ../scss/addons.scss */
.addon-wrap.trending-rightnow .package-info-issues:first-child {
  width: 100%;
}
/* line 333, ../scss/addons.scss */
.addon-wrap.trending-rightnow .package-info-issues:first-child .package-left,
.addon-wrap.trending-rightnow .package-info-issues:first-child .issues-img {
  height: 150px;
}
/* line 339, ../scss/addons.scss */
.addon-wrap.trending-rightnow .package-info-issues:nth-child(2n+2) {
  clear: both;
  padding-right: 5px;
}
/* line 344, ../scss/addons.scss */
.addon-wrap.trending-rightnow .package-info-issues:nth-child(2n+3) {
  padding-left: 5px;
}
/* line 353, ../scss/addons.scss */
.addon-wrap.top-images .package-info-issues:nth-child(2n+1), .addon-wrap.top-quiz .package-info-issues:nth-child(2n+1), .addon-wrap.top-games .package-info-issues:nth-child(2n+1), .addon-wrap.top-polling .package-info-issues:nth-child(2n+1) {
  clear: both;
  padding-right: 5px;
}
/* line 357, ../scss/addons.scss */
.addon-wrap.top-images .package-info-issues:nth-child(2n+2), .addon-wrap.top-quiz .package-info-issues:nth-child(2n+2), .addon-wrap.top-games .package-info-issues:nth-child(2n+2), .addon-wrap.top-polling .package-info-issues:nth-child(2n+2) {
  padding-left: 5px;
}
/* line 362, ../scss/addons.scss */
.addon-wrap.winning-issues .package-info-issues, .addon-wrap.other-videos .package-info-issues, .addon-wrap.next-gallery .package-info-issues {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}
/* line 368, ../scss/addons.scss */
.addon-wrap.winning-issues .package-info-issues .left-package-issues, .addon-wrap.other-videos .package-info-issues .left-package-issues, .addon-wrap.next-gallery .package-info-issues .left-package-issues {
  float: left;
}
/* line 373, ../scss/addons.scss */
.addon-wrap.other-videos .package-info-issues {
  margin-bottom: 15px;
}
/* line 376, ../scss/addons.scss */
.addon-wrap.other-videos .package-info-issues .left-package-issues,
.addon-wrap.other-videos .package-info-issues .left-package-issues .issues-img,
.addon-wrap.other-videos .package-info-issues .left-package-issues .package-left {
  height: 68px;
  width: 120px;
}
/* line 383, ../scss/addons.scss */
.addon-wrap.other-videos .package-info-issues .right-package-issues {
  padding-left: 135px;
}
/* line 391, ../scss/addons.scss */
.addon-wrap.winning-issues .title-sidebar, .addon-wrap.next-gallery .title-sidebar {
  margin-bottom: 0;
}
/* line 395, ../scss/addons.scss */
.addon-wrap.winning-issues .left-package-issues, .addon-wrap.next-gallery .left-package-issues {
  width: 130px;
}
/* line 399, ../scss/addons.scss */
.addon-wrap.winning-issues .right-package-issues, .addon-wrap.next-gallery .right-package-issues {
  padding-left: 140px;
}
/* line 403, ../scss/addons.scss */
.addon-wrap.winning-issues .package-info-issues, .addon-wrap.next-gallery .package-info-issues {
  margin-bottom: 0;
}
/* line 410, ../scss/addons.scss */
.addon-wrap.winning-issues .package-info-issues {
  border-top: 1px solid #dadade;
  padding: 15px 15px 15px 0;
}
/* line 414, ../scss/addons.scss */
.addon-wrap.winning-issues .package-info-issues:first-child {
  border-top: none;
}
/* line 422, ../scss/addons.scss */
.addon-wrap.next-gallery .title-next-gallery {
  margin-bottom: 2px;
  padding-top: 8px;
}
/* line 426, ../scss/addons.scss */
.addon-wrap.next-gallery .title-next-gallery h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
/* line 436, ../scss/addons.scss */
.addon-wrap.next-gallery .package-info-issues {
  float: none;
  padding: 10px 15px 10px 0;
}
/* line 440, ../scss/addons.scss */
.addon-wrap.next-gallery .package-info-issues .right-package-issues h1 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
}
/* line 447, ../scss/addons.scss */
.addon-wrap.next-gallery .addon-content .adv {
  padding: 10px 0;
  width: 336px;
}
/* line 451, ../scss/addons.scss */
.addon-wrap.next-gallery .addon-content .adv img {
  height: auto;
  width: 100%;
}
/* line 460, ../scss/addons.scss */
.addon-wrap.read-this .package-info-issues {
  float: none;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
}
/* line 466, ../scss/addons.scss */
.addon-wrap.read-this .package-info-issues .left-package-issues {
  margin-bottom: 10px;
}
/* line 469, ../scss/addons.scss */
.addon-wrap.read-this .package-info-issues .left-package-issues .package-left,
.addon-wrap.read-this .package-info-issues .left-package-issues .issues-img {
  height: 150px;
}
/* line 477, ../scss/addons.scss */
.addon-wrap.advertaising {
  background: #dadade;
  display: block;
  height: 250px;
  margin: 0 5px 20px;
  text-align: center;
}
/* line 485, ../scss/addons.scss */
.addon-wrap.social-media {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 488, ../scss/addons.scss */
.addon-wrap.social-media > * {
  width: 278px;
}
/* line 492, ../scss/addons.scss */
.addon-wrap.social-media .views-shares {
  font-size: 0;
  margin-bottom: 12px;
}
/* line 496, ../scss/addons.scss */
.addon-wrap.social-media .views-shares .views,
.addon-wrap.social-media .views-shares .shares {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
/* line 505, ../scss/addons.scss */
.addon-wrap.social-media .views-shares .views {
  color: #00bac6;
}
/* line 509, ../scss/addons.scss */
.addon-wrap.social-media .views-shares .shares {
  color: #2ea1f2;
  margin-left: 30px;
}
/* line 514, ../scss/addons.scss */
.addon-wrap.social-media .views-shares .label {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  margin-left: 8px;
  text-transform: uppercase;
}
/* line 523, ../scss/addons.scss */
.addon-wrap.social-media .social-btn {
  overflow: hidden;
  *zoom: 1;
  padding-left: 1px;
}
/* line 527, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 33.33333%;
}
/* line 532, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li:nth-child(3n+1) {
  padding: 0 6px 0 0;
}
/* line 533, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li:nth-child(3n+2) {
  padding: 0 3px;
}
/* line 534, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li:nth-child(3n+3) {
  padding: 0 0 0 6px;
}
/* line 536, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li a {
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  color: #7d7e88;
  display: block;
  font-size: 0;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
/* line 549, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li a:hover {
  color: #dadade;
}
/* line 553, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li a span {
  font-size: 14px;
}
/* line 559, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li a .keepo-icon::before {
  margin-left: 0;
}
/* line 565, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li.facebook a, .addon-wrap.social-media .social-btn li.twitter a {
  color: #fff;
}
/* line 569, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li.facebook a span,
.addon-wrap.social-media .social-btn li.facebook a .keepo-icon, .addon-wrap.social-media .social-btn li.twitter a span,
.addon-wrap.social-media .social-btn li.twitter a .keepo-icon {
  display: inline-block;
  vertical-align: middle;
}
/* line 576, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li.facebook a {
  background: #3468af;
}
/* line 579, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li.facebook a:hover {
  background: #1a4e95;
}
/* line 583, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li.facebook a .keepo-icon {
  font-size: 18px;
}
/* line 588, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li.twitter a {
  background: #4ec0f0;
}
/* line 591, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li.twitter a:hover {
  background: #35aadc;
}
/* line 595, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li.twitter a .keepo-icon {
  font-size: 20px;
}
/* line 600, ../scss/addons.scss */
.addon-wrap.social-media .social-btn li.embed a {
  border: 1px solid #dadade;
}

/* line 608, ../scss/addons.scss */
.subscribe-wrap {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
/* line 612, ../scss/addons.scss */
.subscribe-wrap .form-subscribe {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #00bac6;
  height: 220px;
  padding: 20px 13px 30px;
  text-align: center;
}
/* line 619, ../scss/addons.scss */
.subscribe-wrap .form-subscribe .title-subscribe {
  margin-bottom: 34px;
}
/* line 622, ../scss/addons.scss */
.subscribe-wrap .form-subscribe .title-subscribe h3,
.subscribe-wrap .form-subscribe .title-subscribe p {
  color: #fff;
  margin: 0;
  padding: 0;
}
/* line 629, ../scss/addons.scss */
.subscribe-wrap .form-subscribe .title-subscribe h3 {
  text-shadow: 0 1px 0px #00bac6, 0px 3px 0px #b2d527;
  font-size: 35px;
  line-height: 1;
  margin: 0 0 10px;
}
/* line 636, ../scss/addons.scss */
.subscribe-wrap .form-subscribe .title-subscribe p {
  font-size: 14px;
}
/* line 642, ../scss/addons.scss */
.subscribe-wrap form {
  overflow: hidden;
  *zoom: 1;
  display: block;
  position: relative;
  min-height: 40px;
}
/* line 648, ../scss/addons.scss */
.subscribe-wrap form input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}
/* line 653, ../scss/addons.scss */
.subscribe-wrap form input[type="text"] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: #c2c2c7;
  height: 40px;
  padding: 0 94px 0 10px;
  width: 100%;
}
/* line 662, ../scss/addons.scss */
.subscribe-wrap form input[type="submit"] {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
  background: #34495e;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 84px;
}
/* line 678, ../scss/addons.scss */
.subscribe-wrap form.processing input[type=submit] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  cursor: wait;
}
/* line 687, ../scss/addons.scss */
.subscribe-wrap .sitemaps {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #333437;
  color: #fff;
  height: 112px;
  padding: 15px 0;
  text-align: center;
}
/* line 697, ../scss/addons.scss */
.subscribe-wrap .sitemaps nav ul {
  font-size: 0;
  line-height: 14px;
  padding: 0 20px;
}
/* line 703, ../scss/addons.scss */
.subscribe-wrap .sitemaps nav li {
  display: inline-block;
  margin: 5px 2px;
  vertical-align: middle;
}
/* line 708, ../scss/addons.scss */
.subscribe-wrap .sitemaps nav li.separator {
  font-size: 20px;
}
/* line 712, ../scss/addons.scss */
.subscribe-wrap .sitemaps nav li a {
  color: #fff;
  font-size: 14px;
}
/* line 716, ../scss/addons.scss */
.subscribe-wrap .sitemaps nav li a:hover {
  text-decoration: underline;
}
/* line 723, ../scss/addons.scss */
.subscribe-wrap .sitemaps .copyright {
  margin: 5px 0;
}

/* line 737, ../scss/addons.scss */
.rank, .card {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #dadade;
  color: #9c9eac;
  font-size: 12px;
  padding: 0 8px;
}
/* line 745, ../scss/addons.scss */
.rank a, .card a {
  color: #9c9eac;
}

/* line 750, ../scss/addons.scss */
.card {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #dadade;
  display: inline-block;
  font-size: 0;
  margin-top: 5px;
  height: 28px;
  line-height: 28px;
}
/* line 760, ../scss/addons.scss */
.card span {
  font-size: 12px;
}
/* line 764, ../scss/addons.scss */
.card .orange-bold {
  color: #ff6600;
  font-weight: bold;
  margin-right: 3px;
}
/* line 770, ../scss/addons.scss */
.card .title,
.card .stars {
  display: inline-block;
}
/* line 775, ../scss/addons.scss */
.card .title {
  color: #9c9eac;
  font-size: 12px;
}
/* line 780, ../scss/addons.scss */
.card .stars {
  font-size: 0;
  height: 28px;
  line-height: 28px;
  margin-left: 5px;
}
/* line 786, ../scss/addons.scss */
.card .stars .keepo-icon {
  display: inline-block;
  font-size: 12px;
}
/* line 790, ../scss/addons.scss */
.card .stars .keepo-icon::before {
  margin: 0;
}
/* line 795, ../scss/addons.scss */
.card .stars .icon-star-1 {
  color: #ffa405;
}
/* line 798, ../scss/addons.scss */
.card .stars .icon-star-1.empty {
  color: #dadade;
}

/* line 805, ../scss/addons.scss */
.center-addons {
  width: 728px;
}
/* line 808, ../scss/addons.scss */
.center-addons .author-preview {
  overflow: hidden;
  *zoom: 1;
  border-color: #dadade;
  border-style: solid;
  border-width: 1px 0 1px;
  margin-bottom: 20px;
  padding: 20px 0 25px;
}
/* line 816, ../scss/addons.scss */
.center-addons .author-preview .tags {
  float: left;
  margin-right: 48px;
  width: 280px;
}
/* line 821, ../scss/addons.scss */
.center-addons .author-preview .tags p {
  color: #9c9eac;
  font-size: 12px;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase;
}
/* line 829, ../scss/addons.scss */
.center-addons .author-preview .tags .tags-box {
  margin-left: -5px;
}
/* line 832, ../scss/addons.scss */
.center-addons .author-preview .tags .tags-box .category-tag {
  display: inline-block;
  margin: 5px;
}
/* line 839, ../scss/addons.scss */
.center-addons .author-preview .author {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  float: left;
  width: 400px;
}
/* line 846, ../scss/addons.scss */
.center-addons .author-preview .author-thumb {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 65px;
  display: block;
  float: left;
  overflow: hidden;
  width: 65px;
}
/* line 854, ../scss/addons.scss */
.center-addons .author-preview .author-thumb img {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  left: 50%;
  min-height: 65px;
  min-width: 65px;
  position: relative;
  top: 50%;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
/* line 869, ../scss/addons.scss */
.center-addons .author-preview .author-detail {
  padding-left: 80px;
}
/* line 872, ../scss/addons.scss */
.center-addons .author-preview .author-detail .author-name {
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
/* line 877, ../scss/addons.scss */
.center-addons .author-preview .author-detail .author-name a {
  color: #212121;
}
/* line 880, ../scss/addons.scss */
.center-addons .author-preview .author-detail .author-name a:hover {
  color: #4773ff;
}
/* line 886, ../scss/addons.scss */
.center-addons .author-preview .author-detail .rank-box {
  font-size: 0;
}
/* line 889, ../scss/addons.scss */
.center-addons .author-preview .author-detail .rank-box > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 895, ../scss/addons.scss */
.center-addons .author-preview .author-detail .rank-box > div, .center-addons .author-preview .author-detail .rank-box > div a {
  height: 28px;
  line-height: 28px;
}
/* line 900, ../scss/addons.scss */
.center-addons .author-preview .author-detail .rank-box > div a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 0 15px;
}
/* line 907, ../scss/addons.scss */
.center-addons .author-preview .author-detail .rank-box .follow,
.center-addons .author-preview .author-detail .rank-box .unfollow {
  margin-left: 5px;
}
/* line 912, ../scss/addons.scss */
.center-addons .author-preview .author-detail .rank-box .follow a {
  background: #00bac6;
  color: #fff;
}
/* line 916, ../scss/addons.scss */
.center-addons .author-preview .author-detail .rank-box .follow a:hover {
  background: #09cfdc;
}
/* line 924, ../scss/addons.scss */
.center-addons .author-preview .author-detail .rank-box .unfollow a {
  background: #9c9eac;
  color: #fff;
}
/* line 928, ../scss/addons.scss */
.center-addons .author-preview .author-detail .rank-box .unfollow a:hover {
  background: #aaaab5;
}
/* line 936, ../scss/addons.scss */
.center-addons .author-preview .autho-info {
  margin-top: 15px;
  max-height: 92px;
  overflow: hidden;
}
/* line 941, ../scss/addons.scss */
.center-addons .author-preview .autho-info p {
  color: #7d7e88;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
/* line 950, ../scss/addons.scss */
.center-addons .reaction {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #dadade;
  margin-bottom: 25px;
  padding: 10px 42px 15px;
  position: relative;
}
/* line 951, ../scss/addons.scss */
.center-addons .reaction.close:after {
  content: ' ';
  display: block;
  background: rgba(255, 255, 255, 0.4);
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
/* line 968, ../scss/addons.scss */
.center-addons .reaction .reaction-text {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(#f7f7f7, #ffffff);
  background-image: -webkit-linear-gradient(#f7f7f7, #ffffff);
  background-image: linear-gradient(#f7f7f7, #ffffff);
  color: #333437;
  font-size: 14px;
  font-weight: 600;
  left: 20px;
  line-height: 1;
  margin: 0;
  padding: 0 5px;
  position: absolute;
  top: -7px;
}
/* line 981, ../scss/addons.scss */
.center-addons .reaction ul {
  font-size: 0;
  text-align: center;
}
/* line 985, ../scss/addons.scss */
.center-addons .reaction ul li {
  display: inline-block;
  margin: 0 5px;
  padding: 10px 0;
  width: 70px;
}
/* line 991, ../scss/addons.scss */
.center-addons .reaction ul li a {
  color: #69696c;
  text-transform: uppercase;
}
/* line 997, ../scss/addons.scss */
.center-addons .reaction ul li a:hover .image::after {
  background-color: rgba(0, 186, 198, 0.7);
}
/* line 1003, ../scss/addons.scss */
.center-addons .reaction ul li span {
  display: block;
}
/* line 1007, ../scss/addons.scss */
.center-addons .reaction ul li .image {
  position: relative;
  margin: 0 5px;
}
/* line 1011, ../scss/addons.scss */
.center-addons .reaction ul li .image::after {
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 1025, ../scss/addons.scss */
.center-addons .reaction ul li .label {
  font-size: 12px;
  margin-top: 5px;
}
/* line 1033, ../scss/addons.scss */
.center-addons .comment-navi {
  margin-bottom: 40px;
}
/* line 1036, ../scss/addons.scss */
.center-addons .comment-navi ul {
  overflow: hidden;
  *zoom: 1;
  height: 42px;
}
/* line 1041, ../scss/addons.scss */
.center-addons .comment-navi li {
  float: left;
  text-align: center;
  width: 50%;
}
/* line 1046, ../scss/addons.scss */
.center-addons .comment-navi li a {
  -moz-box-shadow: #099ca5 0px 2px 0px 0px;
  -webkit-box-shadow: #099ca5 0px 2px 0px 0px;
  box-shadow: #099ca5 0px 2px 0px 0px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: #00bac6;
  display: block;
  color: #fff;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
}
/* line 1057, ../scss/addons.scss */
.center-addons .comment-navi li a:hover {
  background: #099ca5;
}
/* line 1060, ../scss/addons.scss */
.center-addons .comment-navi li a:hover span {
  display: inline-block;
  margin-top: 1px;
}
/* line 1069, ../scss/addons.scss */
.center-addons .comment-navi li + li a {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
  background: #09cfdc;
}
/* line 1077, ../scss/addons.scss */
.center-addons .comment-loading {
  position: relative;
  top: -27px;
  left: 33px;
}
/* line 1082, ../scss/addons.scss */
.center-addons .comment-loading .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -48px 0 0 -48px;
  font-size: 96px;
  color: #FFF;
  height: 30px;
  width: 30px;
}
/* line 1093, ../scss/addons.scss */
.center-addons .comment-loading .loader-icon.spinning-cog {
  -webkit-animation: spinning-cog 1.3s infinite ease;
  -moz-animation: spinning-cog 1.3s infinite ease;
  -ms-animation: spinning-cog 1.3s infinite ease;
  -o-animation: spinning-cog 1.3s infinite ease;
  animation: spinning-cog 1.3s infinite ease;
}
@-webkit-keyframes spinning-cog {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinning-cog {
  0% {
    -moz-transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(-45deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spinning-cog {
  0% {
    -o-transform: rotate(0deg);
  }
  20% {
    -o-transform: rotate(-45deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes spinning-cog {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 1128, ../scss/addons.scss */
.center-addons .responses-wrap .title-block,
.center-addons .related-issues .title-block {
  background: #333437;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}
/* line 1134, ../scss/addons.scss */
.center-addons .responses-wrap .title-block p,
.center-addons .related-issues .title-block p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
/* line 1144, ../scss/addons.scss */
.center-addons .responses-wrap {
  margin-bottom: 20px;
}
/* line 1147, ../scss/addons.scss */
.center-addons .responses-wrap .responses {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #dadade;
  padding: 25px 30px 30px 0;
}
/* line 1152, ../scss/addons.scss */
.center-addons .responses-wrap .responses .actor-thumb {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  float: left;
  height: 65px;
  width: 65px;
  overflow: hidden;
}
/* line 1160, ../scss/addons.scss */
.center-addons .responses-wrap .responses .actor-thumb img {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  left: 50%;
  min-height: 65px;
  min-width: 65px;
  position: relative;
  top: 50%;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
/* line 1175, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-detail {
  padding-left: 85px;
}
/* line 1179, ../scss/addons.scss */
.center-addons .responses-wrap .responses .actor-detail {
  font-size: 0;
  margin-bottom: 15px;
}
/* line 1183, ../scss/addons.scss */
.center-addons .responses-wrap .responses .actor-detail p {
  margin: 0;
}
/* line 1187, ../scss/addons.scss */
.center-addons .responses-wrap .responses .actor-detail .name, .center-addons .responses-wrap .responses .actor-detail .rank,
.center-addons .responses-wrap .responses .actor-detail .card {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 28px;
  line-height: 28px;
}
/* line 1195, ../scss/addons.scss */
.center-addons .responses-wrap .responses .actor-detail .name {
  font-size: 14px;
  text-transform: uppercase;
}
/* line 1199, ../scss/addons.scss */
.center-addons .responses-wrap .responses .actor-detail .name a {
  color: #00bac6;
}
/* line 1202, ../scss/addons.scss */
.center-addons .responses-wrap .responses .actor-detail .name a:hover {
  text-decoration: underline;
}
/* line 1208, ../scss/addons.scss */
.center-addons .responses-wrap .responses .actor-detail .rank {
  margin-left: 10px;
  display: none;
  /* hide sementara */
}
/* line 1213, ../scss/addons.scss */
.center-addons .responses-wrap .responses .actor-detail .card {
  margin-left: 5px;
  display: none;
  /* hide sementara */
}
/* line 1219, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-content {
  margin-bottom: 15px;
}
/* line 1222, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-content p {
  color: #7d7e88;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
/* line 1229, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-content .reacted {
  background-color: #00bac6;
  padding: 3px 5px;
  color: #fff;
  text-transform: uppercase;
}
/* line 1236, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-content .icon-heart {
  color: #ff5b2f;
  font-size: 16px;
}
/* line 1242, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-time {
  overflow: hidden;
  *zoom: 1;
}
/* line 1245, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-time .time,
.center-addons .responses-wrap .responses .responses-time .report {
  color: #9c9eac;
  font-size: 12px;
  line-height: 16px;
}
/* line 1252, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-time .time {
  float: left;
}
/* line 1256, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-time .report {
  float: right;
}
/* line 1259, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-time .report span {
  display: inline-block;
  vertical-align: middle;
}
/* line 1264, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-time .report .icon-flag {
  color: #9c9eac;
  font-size: 14px;
}
/* line 1269, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-time .report a {
  color: #9c9eac;
}
/* line 1272, ../scss/addons.scss */
.center-addons .responses-wrap .responses .responses-time .report a:hover span + span {
  text-decoration: underline;
}
/* line 1281, ../scss/addons.scss */
.center-addons .comment-form {
  font-size: 0;
  margin-bottom: 40px;
  position: relative;
}
/* line 1286, ../scss/addons.scss */
.center-addons .comment-form .comment-box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dadade;
  font-size: 16px;
  height: 208px;
  padding: 18px 25px 65px;
  resize: none;
  width: 100%;
}
/* line 1296, ../scss/addons.scss */
.center-addons .comment-form .comment-box:focus {
  outline: none;
}
/* line 1301, ../scss/addons.scss */
.center-addons .comment-form .btn-box {
  overflow: hidden;
  *zoom: 1;
  bottom: 15px;
  font-size: 14px;
  position: absolute;
  right: 15px;
  width: 210px;
}
/* line 1309, ../scss/addons.scss */
.center-addons .comment-form .btn-box button {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-transition: color 0.3s linear, background-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
  background: #fff;
  display: inline-block;
  float: left;
  height: 40px;
  font-weight: 600;
  width: 100px;
}
/* line 1319, ../scss/addons.scss */
.center-addons .comment-form .btn-box button.send {
  border: 1px solid #333437;
  color: #333437;
  margin-left: 10px;
}
/* line 1324, ../scss/addons.scss */
.center-addons .comment-form .btn-box button.send:hover {
  background: #333437;
  color: #fff;
}
/* line 1329, ../scss/addons.scss */
.center-addons .comment-form .btn-box button.send.disable {
  border: 1px solid #c2c2c7;
  color: #c2c2c7;
}
/* line 1335, ../scss/addons.scss */
.center-addons .comment-form .btn-box button.sticker {
  border: 1px solid #00bac6;
  color: #00bac6;
}
/* line 1339, ../scss/addons.scss */
.center-addons .comment-form .btn-box button.sticker:hover {
  background: #00bac6;
  color: #fff;
}
/* line 1348, ../scss/addons.scss */
.center-addons .related-issues {
  margin-bottom: 50px;
}
/* line 1351, ../scss/addons.scss */
.center-addons .related-issues .title-block {
  margin-bottom: 10px;
}
/* line 1355, ../scss/addons.scss */
.center-addons .related-issues .issues-wrap {
  overflow: hidden;
  *zoom: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 1360, ../scss/addons.scss */
.center-addons .related-issues .issues-wrap li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 8px;
  margin-bottom: 8px;
  position: relative;
  width: 176px;
  min-width: 176px;
  max-width: 176px;
}
/* line 1370, ../scss/addons.scss */
.center-addons .related-issues .issues-wrap li:hover .issues-title h1 {
  color: #4773ff;
}
/* line 1374, ../scss/addons.scss */
.center-addons .related-issues .issues-wrap li:nth-child(4n+1) {
  margin-left: 0;
}
/* line 1376, ../scss/addons.scss */
.center-addons .related-issues .issues-wrap li article {
  position: relative;
}
/* line 1380, ../scss/addons.scss */
.center-addons .related-issues .issues-wrap li .issues-img {
  height: 136px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 1386, ../scss/addons.scss */
.center-addons .related-issues .issues-wrap li .issues-img > img {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  width: 100%;
}
/* line 1398, ../scss/addons.scss */
.center-addons .related-issues .issues-wrap li .issues-title {
  margin-top: 10px;
  padding: 0 5px;
}
/* line 1402, ../scss/addons.scss */
.center-addons .related-issues .issues-wrap li .issues-title h1 {
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: #333437;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
/* line 1412, ../scss/addons.scss */
.center-addons .related-issues .issues-wrap li a {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

/* line 1428, ../scss/addons.scss */
.black-theme .center-addons .author-preview,
.black-theme .responses-wrap .responses {
  border-color: #4e4e50;
}
/* line 1435, ../scss/addons.scss */
.black-theme .responses-wrap .responses .responses-content,
.black-theme .responses-wrap .responses .responses-content p {
  color: #fff;
}
/* line 1442, ../scss/addons.scss */
.black-theme .responses-wrap .responses .responses-time .time,
.black-theme .responses-wrap .responses .responses-time .report,
.black-theme .responses-wrap .responses .responses-time .report a,
.black-theme .responses-wrap .responses .responses-time .report .icon-flag {
  color: #7d7e88;
}
/* line 1451, ../scss/addons.scss */
.black-theme .center-addons .author-preview .author-detail .author-name a {
  color: #7d7e88;
}
/* line 1455, ../scss/addons.scss */
.black-theme .rank, .black-theme .card {
  background: #4e4e50;
  border-color: #4e4e50;
}
/* line 1460, ../scss/addons.scss */
.black-theme .rank,
.black-theme .card .title {
  color: #dadade;
}
/* line 1465, ../scss/addons.scss */
.black-theme .center-addons .reaction,
.black-theme .center-addons .comment-form .comment-box {
  background: #4e4e50;
  border-color: #4e4e50;
}
/* line 1471, ../scss/addons.scss */
.black-theme .center-addons .reaction .reaction-text {
  background: transparent;
}
/* line 1475, ../scss/addons.scss */
.black-theme .center-addons .reaction ul li a,
.black-theme .center-addons .reaction .reaction-text {
  color: #fff;
}
/* line 1480, ../scss/addons.scss */
.black-theme .center-addons .comment-form .btn-box button.sticker,
.black-theme .center-addons .comment-form .btn-box button.send {
  background: #4e4e50;
}
/* line 1488, ../scss/addons.scss */
.black-theme .center-addons .comment-form .btn-box button.sticker:hover {
  background: #00bac6;
  color: #fff;
}
/* line 1494, ../scss/addons.scss */
.black-theme .center-addons .comment-form .btn-box button.send {
  border-color: #fff;
  color: #fff;
}
/* line 1498, ../scss/addons.scss */
.black-theme .center-addons .comment-form .btn-box button.send:hover {
  background: #fff;
  color: #4e4e50;
}
/* line 1504, ../scss/addons.scss */
.black-theme .center-addons .related-issues .issues-wrap li .issues-title h1 {
  color: #fff;
}
/* line 1510, ../scss/addons.scss */
.black-theme .center-addons .related-issues .issues-wrap li:hover .issues-title h1 {
  color: #4773ff;
}
/* line 1515, ../scss/addons.scss */
.black-theme .right-side .follow-us-container .title-follow-us {
  color: #fff;
}
/* line 1519, ../scss/addons.scss */
.black-theme .addon-wrap .package-info-issues .right-package-issues h1 {
  color: #fff;
}
/* line 1523, ../scss/addons.scss */
.black-theme .addon-wrap .package-info-issues:hover .right-package-issues h1 {
  color: #4773ff;
}
