/* color code */
/* line 6, ../scss/feeds.scss */
.feeds-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 12, ../scss/feeds.scss */
.feeds-container {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
}
/* line 16, ../scss/feeds.scss */
.feeds-container .items {
  -moz-box-shadow: #eaeaea 0 3px 1px 0;
  -webkit-box-shadow: #eaeaea 0 3px 1px 0;
  box-shadow: #eaeaea 0 3px 1px 0;
  background: #fff;
  height: 475px;
  width: 300px;
  float: left;
  margin: 0 10px 20px 0;
  position: relative;
}
/* line 25, ../scss/feeds.scss */
.feeds-container .items.adv {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
/* line 30, ../scss/feeds.scss */
.feeds-container .items.sticky {
  background-color: #ffffe7;
}
/* line 34, ../scss/feeds.scss */
.feeds-container .items a {
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
/* line 37, ../scss/feeds.scss */
.feeds-container .items a:not(.classy) {
  z-index: 2;
}
/* line 42, ../scss/feeds.scss */
.feeds-container .items .post-img {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 48, ../scss/feeds.scss */
.feeds-container .items .post-img > img {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  left: 50%;
  min-height: 200px;
  min-width: 300px;
  position: relative;
  top: 50%;
}
/* line 59, ../scss/feeds.scss */
.feeds-container .items .info-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #dadade;
  border-left: 1px solid #dadade;
  height: 235px;
  padding: 15px 20px 0 20px;
}
/* line 66, ../scss/feeds.scss */
.feeds-container .items .info-container .post-title h1,
.feeds-container .items .info-container .post-lead p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
/* line 73, ../scss/feeds.scss */
.feeds-container .items .info-container .post-title {
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: #333437;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  max-height: 115px;
  overflow: hidden;
}
/* line 82, ../scss/feeds.scss */
.feeds-container .items .info-container .post-title h1 {
  line-height: 1.3;
  letter-spacing: -0.5px;
}
/* line 86, ../scss/feeds.scss */
.feeds-container .items .info-container .post-title h1 .label {
  background: #4773ff;
  color: #fff;
  margin-right: 5px;
  padding: 0 5px;
  text-transform: uppercase;
}
/* line 96, ../scss/feeds.scss */
.feeds-container .items .info-container .post-lead {
  color: #7d7e88;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  max-height: 40px;
  overflow: hidden;
}
/* line 105, ../scss/feeds.scss */
.feeds-container .items .info-container .post-author {
  position: relative;
}
/* line 108, ../scss/feeds.scss */
.feeds-container .items .info-container .post-author a {
  display: inline-block;
}
/* line 111, ../scss/feeds.scss */
.feeds-container .items .info-container .post-author a:hover {
  color: #4773ff;
}
/* line 116, ../scss/feeds.scss */
.feeds-container .items .info-container .post-author .user-pict {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 30px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 30px;
}
/* line 126, ../scss/feeds.scss */
.feeds-container .items .info-container .post-author .user-pict img {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  left: 50%;
  min-height: 30px;
  min-width: 30px;
  position: relative;
  top: 50%;
}
/* line 137, ../scss/feeds.scss */
.feeds-container .items .info-container .post-author .user-name {
  color: #9c9eac;
  font-size: 10px;
  padding-left: 40px;
  height: 30px;
  line-height: 30px;
  position: relative;
}
/* line 148, ../scss/feeds.scss */
.feeds-container .items .post-footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dadade;
  bottom: 0;
  font-size: 0;
  height: 40px;
  line-height: 38px;
  padding: 0 20px;
  position: absolute;
  width: 100%;
}
/* line 159, ../scss/feeds.scss */
.feeds-container .items .post-footer .icon-view,
.feeds-container .items .post-footer .total-view {
  color: #9c9eac;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
/* line 167, ../scss/feeds.scss */
.feeds-container .items .post-footer .icon-view {
  font-size: 16px;
}
/* line 171, ../scss/feeds.scss */
.feeds-container .items .post-footer .total-view {
  font-size: 12px;
  margin-left: 5px;
}
/* line 176, ../scss/feeds.scss */
.feeds-container .items .post-footer .category-tag {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 20px;
  top: 50%;
}
/* line 185, ../scss/feeds.scss */
.feeds-container .items:hover .post-title {
  color: #4773ff;
}
/* line 191, ../scss/feeds.scss */
.feeds-container .adv > div {
  display: block;
  width: 300px;
}
/* line 196, ../scss/feeds.scss */
.feeds-container .adv .adv-box {
  background: #dadade;
  height: 250px;
  margin-bottom: 20px;
}
/* line 202, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos {
  -moz-box-shadow: #eaeaea 0 3px 1px 0;
  -webkit-box-shadow: #eaeaea 0 3px 1px 0;
  box-shadow: #eaeaea 0 3px 1px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff url("../img/follow-keepo.jpg") right bottom no-repeat;
  background-size: 122px auto;
  border: 1px solid #dadade;
  height: 205px;
  padding: 15px;
}
/* line 211, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos h3, .feeds-container .adv .follow-medsos p {
  margin: 0;
  padding: 0;
}
/* line 213, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos header {
  margin-bottom: 35px;
}
/* line 216, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos header h3, .feeds-container .adv .follow-medsos header p {
  color: #7d7e88;
}
/* line 218, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos header h3 {
  font-size: 23px;
  font-weight: 800;
  letter-spacing: -0.5px;
}
/* line 224, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos header p {
  font-size: 18px;
  font-weight: normal;
}
/* line 230, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos article article,
.feeds-container .adv .follow-medsos footer {
  padding-right: 115px;
}
/* line 235, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos article article {
  margin-bottom: 15px;
}
/* line 238, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos article article p {
  color: #7d7e88;
  font-size: 12px;
}
/* line 246, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos footer li {
  margin-top: 5px;
  font-size: 0;
}
/* line 250, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos footer li:first-child {
  margin-top: 0;
}
/* line 252, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos footer li a,
.feeds-container .adv .follow-medsos footer li span {
  display: inline-block;
  vertical-align: middle;
}
/* line 258, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos footer li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  height: 22px;
  line-height: 22px;
  padding: 0 2px 0 30px;
  position: relative;
  width: 80px;
}
/* line 268, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos footer li span {
  font-size: 12px;
}
/* line 272, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos footer li .count {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dadade;
  color: #333437;
  display: block;
  height: 22px;
  line-height: 20px;
  font-size: 14px;
  left: 85px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 60px;
}
/* line 287, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos footer li i {
  left: 0;
  position: absolute;
  top: 0;
}
/* line 294, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos footer .facebook a {
  background: #3468af;
}
/* line 297, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos footer .facebook a i {
  font-size: 18px;
  top: 1px;
}
/* line 302, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos footer .twitter a {
  background: #4ec0f0;
}
/* line 305, ../scss/feeds.scss */
.feeds-container .adv .follow-medsos footer .twitter a i {
  font-size: 20px;
}

@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-ms-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-o-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
/* line 474, ../scss/feeds.scss */
.uil-ripple-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
  clear: both;
  margin: auto;
}

/* line 482, ../scss/feeds.scss */
.uil-ripple-css div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  border-width: 12px;
  border-style: solid;
  -ms-animation: uil-ripple 2s ease-out infinite;
  -moz-animation: uil-ripple 2s ease-out infinite;
  -webkit-animation: uil-ripple 2s ease-out infinite;
  -o-animation: uil-ripple 2s ease-out infinite;
  animation: uil-ripple 2s ease-out infinite;
}

/* line 499, ../scss/feeds.scss */
.uil-ripple-css div:nth-of-type(1) {
  border-color: #afafb7;
}

/* line 502, ../scss/feeds.scss */
.uil-ripple-css div:nth-of-type(2) {
  border-color: #5cffd6;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@media only screen and (max-width: 1280px) {
  /* line 520, ../scss/feeds.scss */
  .feeds-container {
    width: 620px;
  }

  /* 2 columns */
}
@media only screen and (min-width: 1281px) and (max-width: 1600px) {
  /* line 524, ../scss/feeds.scss */
  .feeds-container {
    width: 930px;
  }

  /* 3 columns */
}
@media only screen and (min-width: 1601px) {
  /* line 528, ../scss/feeds.scss */
  .feeds-container {
    width: 1240px;
  }

  /* 4 columns */
}
